.logo {
  flex: 2;
  text-transform: uppercase;
}

header a,
.toggleMenu {
  height: 100%;
  text-transform: uppercase;
}

.nav-btns {
  height: 80px;
  display: flex;
  font-size: 1.5rem;
}

.nav-btns > *,
.nav-btns {
  flex: 1;
}

.nav-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btns > *:hover {
  color: #858282;
}

.nav-btns > *:active,
.toggleMenu:active {
  position: relative;
  bottom: 2px;
}

.toggleMenu {
  display: none;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .toggleMenu {
    display: flex;
  }

  .nav-btns {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 5.2rem;
    height: 30vh;
    width: 40%;
    transform: translateY(-200%);
    transition: transform 0.3s;
    z-index: 10;
    color: #fff;
  }

  .nav-btns > *:not(:last-child) {
    border-bottom: 1px solid #000;
  }

  .nav-btns > * {
    background-color: #000;
    width: 100%;
  }
}
